#main-footer div {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;
    background: white;
}

#main-footer div .m-0text-centertext-white {
    color: black;
}

#main-header .container {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.navbar .container img{
    height: 2rem;
    width: 2rem;
}